$white-color: #e0e0e0;
$dark-color: #121212;

@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "compass/layout/stretching";
@import "compass/layout.scss";
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Raleway|Playfair+Display);

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin horizontal-align {
	position: relative;
	left:50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin strikeout {
	position: relative;
	&::after {
		border-bottom: 2px solid $dark-color;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 50%;
	}
}
@mixin white-on-black {
	color: $white-color;
	background: rgba(0, 0, 0, 0.70);
}

@mixin black-on-white {
	color: $dark-color;
	background: $white-color;
}

@mixin card {
	@include border-radius(2px);
	@include box-shadow( 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23));
}

@mixin calc($property, $expression) { 
	#{$property}: -webkit-calc(#{$expression}); 
	#{$property}: calc(#{$expression}); 
}